<!DOCTYPE html>
<html>
<head>
<title>Recover Password</title>
</head>
<body>

<h2>Forgot Password</h2>

<input id="recoveryCode" placeholder="Recovery Code">
<button onclick="verifyCode()">Verify</button>

<div id="questionBox" style="display:none;">
    <h3 id="question"></h3>

    <input id="answer" placeholder="Answer">
    <button onclick="verifyAnswer()">Verify</button>
</div>

<div id="resetBox" style="display:none;">
    <input id="newPassword" placeholder="New Password">

    <button onclick="resetPassword()">
        Save Password
    </button>
</div>

<script>

let recoveryCode="";

async function verifyCode(){

    recoveryCode =
        document.getElementById("recoveryCode").value;

    const res = await fetch("/verify-recovery",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            recovery_code:recoveryCode
        })
    });

    const data = await res.json();

    if(data.success){

        document.getElementById("questionBox")
        .style.display="block";

        document.getElementById("question")
        .innerHTML=data.question;

    }else{
        alert("Wrong Recovery Code");
    }
}

async function verifyAnswer(){

    const answer =
        document.getElementById("answer").value;

    const res = await fetch("/verify-answer",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            answer:answer
        })
    });

    const data = await res.json();

    if(data.success){
        document.getElementById("resetBox")
        .style.display="block";
    }else{
        alert("Wrong Answer");
    }
}

async function resetPassword(){

    const newPassword =
        document.getElementById("newPassword").value;

    const res = await fetch("/reset-password",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            password:newPassword
        })
    });

    const data = await res.json();

    if(data.success){
        alert("Password Changed!");
        window.location.href="/";
    }
}

</script>

</body>
</html>